<?xml version="1.0" encoding="UTF-8"?>
<!-- Dao层的配置信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Dao层基础实现类  --> 
    <bean id="baseDaoBean" class="com.bless.common.dao.impl.BaseDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
</beans>
