<?xml version="1.0" encoding="UTF-8"?>
<!-- Service业务逻辑层定义 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!--  
    <bean id="baseServiceBean" class="com.bless.common.service.impl.BaseServiceImpl">
        <property name="dao" ref="baseDaoBean" />
    </bean>
	 -->
</beans>